.Main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: auto;
}

.cont1{
    width: auto;
    height: 30%
}
.cont2{
    width: auto;
    height: 5%;

}
.cont2 .p{
    text-align: center;
}
.cont3 {
    width: auto;
    height: 5%;
}
.cont3 .img{
    width: auto;
    
}
