

.about{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: auto;
  
    .aboutcontainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      align-items: center;
    
      .about1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
        width: 100%;
    
        .top {
          padding: 20px;
          background-color: #ffeded;
          border-radius: 10px;
          
    
          h2 {
            font-size: 50px;
            color: #020000;
            margin-bottom: 10px;
          }
    
          p {
            font-size: 40px;
            color: #000000;
          }
        }
    
        .bot {
          margin-top: 20px;
        }
      }
    
      .about2, .about3 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    
        .leftcont {
          display: flex;
          flex-direction: column;
          width: 50%;
          align-items: center;
          justify-content: center;
          text-align: center;
    
           img {
            width: 600px;
            height: 700px;
          }
          p {
            font-size: 30px;
            font-weight: bold;
          }
        }
        .rightcont {
          display: flex;
          flex-direction: column;
          width: 50%;
          align-items: center;
          justify-content: center;
          text-align: center;

          img {
            width: 500px;
            height: 500px;
          }
    
          p {
            font-size: 30px;
            font-weight: bold;
          }
      }
      }
    }
        
      .abovecontainer{
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      
      .abovecontainer img{
        width: 80%;
        height: auto;
      }
      
      .bottomborder{
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      
      
      }
      .bottomborder img{
        width: 60%;
        height: auto;
      }
    }
      
}