$borderColorRight: #c54646;
$borderColorLeft: #1a8fdd;


.topContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
  

  
  .rightContain, .leftContain {
    width: 30%;
    height: 100%;
  
  }
  
  .rightContain {
    border: 1px solid $borderColorRight;
    background-color: #f3f3f3;
    display: flex; 
    align-items: center;
    justify-content: center;
  
    .recipeImage {
      width: 450px;
      height: 500px;
      margin: 5%; 
    }
  }
  

  .leftContain {
    border: 1px solid $borderColorLeft;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%; 

    .recipeName {
        font-size: 40px;
        color: #333;
        margin-top: 20px;
    }

    .recipeInfo {
        font-size: 25px;
    }
}
}








.title {
  font-size: 20px;
}



.bottomContainer {
  height: auto;
  width: 60%;
  justify-content: center;
  align-items: center;
  border: 1px solid #1a8fdd;
  margin: 20px auto;

  h3 {
    font-size: 50px;
    color: #333;
  }

  h4 {
    font-size: 20px;
    color: #666;
  }

  h5 {
    font-size: 18px;
    color: #999;
  }

  .title {
    font-size: 50px;
    font-weight: bold;
    color: #444;
    
  }

  ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }

  ul li {
    margin-bottom: 5px;
    font-size: 25px;
    color: #000000;
  }

  ol li {
    margin-bottom: 5px;
    font-size: 25px;
    color: #000000;
  }
}

