$primaryColor: #000000; 
$backgroundColor: #f8e7e9;
$fontColor: #2c2c2c; 

.Maincomp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}
.topContainer {
  width: 80%;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;

  .rightContain, .leftContain {
    width: 48%;
    margin: 0 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  .rightContain {
    background-color: $backgroundColor;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    .recipeImage {
      width: 100%;
      max-width: 450px;
      height: auto;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .leftContain {
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: none;

    .recipeName {
      font-size: 50px;
      color: black;
      margin-top: 20px;
    }

    .recipeInfo {
      font-size: 25px;
      color: rgb(7, 4, 4);
      margin-top: 10px;
      margin: 0 20px; 
    }
  }

  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: $primaryColor;
  }

    .rightContain, .leftContain {
      width: 100%;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }


.bottomContainer {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: $backgroundColor;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h3 {
    font-size: 36px;
    color: $fontColor;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 20px;
    color: $fontColor;
    margin-bottom: 10px;
  }

  h5 {
    font-size: 18px;
    color: $fontColor;
    margin-bottom: 20px;
  }

  .title {
    font-size: 36px;
    font-weight: bold;
    color: $primaryColor;
    margin-bottom: 20px;
  }

  ul, ol {
    margin-top: 20px;
  }

  ul li, ol li {
    font-size: 20px;
    color: $fontColor;
    margin-bottom: 15px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .topContainer {
    display: flex;
    justify-content: space-between;

    .rightContain {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
  
      .recipeImage {
        width: 100%;
        max-width: 450px;
        height: auto;
        border-radius: 12px;

      }
    }
  
    .leftContain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      box-shadow: none;
  
      .recipeName {
        font-size: 32px;
        margin-top: 20px;
      }
  
      .recipeInfo {
        font-size: 18px;
        margin-top: 10px;
      }
    }
  }  
}

@media (min-width: 321px) and (max-width: 768px) {
  .topContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .rightContain {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
  
      .recipeImage {
        width: 100%;
        max-width: 350px;
        height: auto;
        border-radius: 12px;
      }
    }
  
    .leftContain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      box-shadow: none;
  
      .recipeName {
        font-size: 30px;
        margin: 0 20px; 
        text-align: center; 
      }
  
      .recipeInfo {
        font-size: 18px;
        margin: 0 20px; 
        text-align: center; 
      }
    }
  }  
}

@media (min-width: 1px) and (max-width: 320px) {
  .topContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .rightContain {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
  
      .recipeImage {
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 12px;
      }
    }
  
    .leftContain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      box-shadow: none;
  
      .recipeName {
        font-size: 25px;
        margin: 0 20px; 
        text-align: center; 
      }
  
      .recipeInfo {
        font-size: 15px;
        margin: 0 20px; 
        text-align: center; 
      }
    }
  }  
}
