

.indexcontainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.indexcontainer a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.indexlogo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.indexlogo img {
  width: auto; 
  height: auto; 
  max-width: 100%; 
  max-height: 100%; 
}

.indexcontent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%; 
}

.homebox {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px; 
  height: 300px;
  margin-left: 10%;
}

.homebox p {
  margin-bottom: 5px;
  line-height: 1.5;
  font-size: 40px;
  text-align: left;
}
.hoverable-button {
  background-color: #b1b1b1;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .homebox {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px; /* Adjust as needed */
    height: 300px;
    margin-left: 10%;
  }
  
  .homebox p {
    line-height: 1.5;
    font-size: 30px;
    text-align: left;
  }
  
  .homebox a {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .homebox .hoverable-button {
    bottom: 20px;
    right: 20px; /* Adjust for medium-sized screens */
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .indexcontainer {
    position: relative;
    width: 100%;
    height: 100vh;
    
  }
  .indexcontainer a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }
  
   .indexlogo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .indexlogo img {
    width: auto;
    height: auto;
    max-width: 100%; 
    max-height: 100%; 
  }
}
  .homebox {
    margin-left: 0; 
    position: relative;
    width: 90%; 
    max-width: 500px; 
    height: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }

  .homebox p {
    width: 100%; 
    line-height: 1.5;
    font-size: 20px;
    text-align: left;
    height: 200px;
  }

  .homebox a {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }


@media (min-width: 1px) and (max-width: 320px) {
  .indexcontainer {
    position: relative;
    width: 100%;
    height: 100vh;
    
  }
  .indexcontainer a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .indexlogo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .indexlogo img {
    width: auto; 
    height: auto;
    max-width: 100%;
    max-height: 100%; 
  }
  .homebox {
    margin-left: 0; 
    position: relative;
    width: 90%; 
    max-width: 500px; 
    height: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }

  .homebox p {
    width: 100%; 
    line-height: 1.5;
    font-size: 20px;
    text-align: left;
    height: 200px;
  }

  .homebox a {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}


















/** header**/


nav { 
  background-color: #AE5661;
  width: 100%;
  height: 30%;
  padding: 0 20px;
  display: flex;
 
}
.navcont{
  display: flex;
  align-items: center;
}
.navcont a {
  color: #ffffff;
}

.navcont a:hover {
  color: rgb(255, 205, 244);
}

.logo img {
  width: 250px;
  height: 120px;
}

.nav-item {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item li {
  margin-right: 20px;
  font-size: 25px;
}
.nav-item li.active a {
  color: #ffc1c1;
  font-weight: bold; 
}
.toggle{
  display: none;
}

.search-bar {
  display: flex;
  align-items: center; 
}

.search-bar input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px; 
}

.search-bar button {
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar{
  display: none;
}
.sidebar.active {
  display: block;
  background-color: #AE5661;
  width: 200px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65%;
  list-style: none;
}

.nav-side {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  height: 100%; 
  padding: 0; 
}
.nav-side li {
  margin-bottom: 20px; 
}
.nav-side li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px; 
  text-align: center;

}

.nav-side li.exit {
  margin-bottom: 20px; 
}

.nav-side img {
  width: 300px; 
  height: auto; 
  margin-bottom: 20px; 
}
.nav-side .search-barmob {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 20px; 
  width: auto;
  height: auto;
}

.nav-side .search-barmob input {
  padding: 8px 12px; 
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px; 
  width: 150px; 
  height: 30px;
}

.nav-side .search-barmob button {
  padding: 8px 12px;
  background-color: #b4b4b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
}



@media (min-width: 769px) and (max-width: 1024px) {
  nav{
    display: block;
    position: relative;
    padding: 15px 20px;
  }
  .navcont {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex: 1; 

  }
  .logo img{
    width: 250px;
    height: 140px;
    align-items: center;
    justify-content: center
  }
  .nav-side li {
    margin-bottom: 20px; 
    list-style: none; 
    font-size: 30px;
    list-style: none;
  }
  
  .nav-side li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    list-style: none;
  }
  
  


}

@media (min-width: 321px) and (max-width: 768px) {
  .hideonmobile{
    display: none;
  }
  nav{
    display: block;
    position: relative;
    padding: 15px 20px;
  }
  .navcont {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex: 1; 

  }
  .toggle {
    position: absolute;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    color: #ffffff;
  }

  .nav-item li.active a {
    display: none;
    
  }
  .logo img{
    width: 230px;
    height: 120px;
    align-items: center;
    justify-content: center
  }
  .menu{
    margin-top: 15px;
    display: none;
  }
  .nav-side {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 100%; 
    padding: 0; 
  }
  
  .nav-side li {
    margin-bottom: 20px; 
    font-size: 25px;
    list-style: none;
    text-decoration: none;
  }
  
  .nav-side li a {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .nav-side li.exit {
    margin-bottom: 20px; 
  }
  
  .nav-side img {
    max-width: 100%; 
    max-height: 100px; 
    width: auto;
    margin-bottom: 20px;
  }

  .toggle {
    position: absolute;
    left: 20px; 
    font-size: 20px;
    cursor: pointer;
    display: block;
    color: #ffffff;
    
  }

  .exit {
    position: absolute; 
    top: 0; 
    right: 0; 
    margin: 20px; 
  }
  
  .search-barmob {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%; 
  }
  
  .search-barmob input {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 70%;
    max-width: 200px;
    height: 30px;
  }
  
  .search-barmob button {
    padding: 8px 12px; 
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

}

@media (min-width: 1px) and (max-width: 320px) {
  .hideonmobile{
    display: none;
  }
  nav{
    display: block;
    position: relative;
    padding: 15px 20px;
  }
  .navcont {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex: 1; 

  }
  .logo img{
    width: 180px;
    height: 100px;
    align-items: center;
    justify-content: center
  }
  .nav-item li.active a {
    display: none;
  }
  .nav-side {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    height: 100%; 
    padding: 0; 
  }
  
  .nav-side li {
    margin-bottom: 20px; 
    list-style: none; 
  }
  
  .nav-side li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .nav-side li.exit {
    margin-bottom: 20px; 
  }
  
  .nav-side img {
    max-width: 100%; 
    max-height: 100px; 
    width: auto; 
    height: auto; 
    margin-bottom: 20px;
  }
  .logo-sidebar{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex: 1; 
  }
  .logo-sidebar img{
    width: 80px;
    height: 100px;
  }
  .toggle {
    position: absolute;
    left: 20px;
    font-size: 15px;
    cursor: pointer;
    display: block;
    color: #ffffff;
}
.exit {
  position: absolute; 
  top: 0; 
  right: 0; 
  margin: 20px;
  font-size: 15px;
}
  .menu{
    margin-top: 15px;
    display: none;
  }
  .nav-side {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    height: 100%; 
    padding: 0; 
  }
  .nav-side li {
    margin-bottom: 20px;
  }
  .nav-side li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px; 
    text-align: center;
  
  }
  
  .nav-side li a:hover {
    color: #ffc1c1;
  }
  
  .nav-side li.exit {
    margin-bottom: 20px;
  }
  
  .nav-side img {
    width: 300px; 
    height: auto;
    margin-bottom: 20px; 
  }

  .nav-side .toggle {
    position: absolute;
    left: 20px; 
    font-size: 20px;
    cursor: pointer;
    display: block;
    color: #ffffff;
    
  }
  .exit {
    margin-left: 80%; 
    
  }
  .search-barmob {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-barmob input {
    padding: 8px 12px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 200px; 
    height: 30px;
  }
  
  .search-barmob button {
    padding: 8px 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 

}

















/** footer footer footer **/

.footercontainer{
  height: auto;
  width: auto;
  background-color: #AE5661;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#footerlogo {
  height: 130px;
  width: 300px;
}

.footcont1 {
  width: auto;
}
.footcont2 {
  width: auto;
  height: auto;
}
.footcont2 p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  color: #ffffff;
  text-align: center;

}

.footcont3 {
  width: 100%;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icons img {
  width: 30px; 
  margin: 0 10px; 
  margin-top: 20px;
}
.footcont2 {
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footcont2 p {
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .footercontainer{
    height: auto;
    width: auto;
   
    
  }
  
  .footcont2 p {
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
  }
}

@media (min-width: 1px) and (max-width: 320px) {
  .footercontainer{
    height: auto;
    width: auto;
    
    
  }
  
  .footcont2 p {
    font-size: 10px;
    padding: 5px;
    border-radius: 10px;
  }
}

