
.Loading {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  z-index: 99;
  left: -100%;
  -webkit-transition: .5s;
  transition: .5s;

}
 .Loading img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


.Loading2 {
  position: absolute;
  background-color: rgb(255, 94, 94);
  width: 100%;
  height: 100vh;
  z-index: 99;
  left: -100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.Loading3 {
  position: absolute;
  background-color: rgb(0, 141, 151);
  width: 100%;
  height: 100vh;
  z-index: 99;
  left: -100%;
  -webkit-transition: .7s;
  transition: .7s;
}




.indexcontainer{
  background-image: url("/static/images/homepagebg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.navbar1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 10vh;
  
}
.indexlogo img {
  height: 100px;
  display: flex;
  align-items: flex-end;
}
.indexnavmenu {
  margin-right: auto; 
}
.indexnavmenu ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  
}

.indexnavmenu ul li {
  margin-right: 20px;
  font-size: 22px;
}

.indexnavmenu ul li a {
  text-decoration: none;
  color: #000000;
}

.logo img {
  height: 100px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 3vh;
}
.indexcontent{
  padding: 20px;
  margin-left: 10%;
  margin-top: 5%;
}

.homebox {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-end; 

}
.homebox p {
  margin-bottom: 5px;
  line-height: 1.5;
  font-size: 40px;
  text-align: center;
  margin-top: 10%; 
}
.hoverable-button {
  background-color: #b1b1b1; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.hoverable-button:hover {
  background-color: #53ce59;
}










/** break break break **/
/**Header**/


nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  height: 15vh;
  background-color: #AE5661;
  max-width: 100%;
}
nav a:hover{
  color: #ffffff;
}
.logo {
  flex: 1;
}
.logo a{

  align-items: center;
  font-size: 20px;
}
.logo img{
  width: 250px;
  height: 100px;
}
.menu{
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 90%;
  

}
.menu li{
  padding: 15px;
  font-size: 16px;
}
.toggle{
  font-size: 30px;
  display: none;
  color: #ffffff;
}


.search-bar {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.search-bar input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px; /* Add margin to separate input and button */
}

.search-bar button {
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar{
  display: none;
}
.sidebar-active {
  overflow: hidden;
}





@media screen and (max-width: 768px) {

  nav{
    display: block;
    position: relative;
    padding: 15px 20px;
  }
  .navcont {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img{
    width: 320px;
    height: 150px;
  }
  .menu{
    margin-top: 15px;
    display: none;
  }
 .menu.active,
  .toggle {
    display: block;
  }
  .toggle {
    position: absolute;
    left: 20px; 
    font-size: 30px;
    cursor: pointer;
    display: block;
    color: #ffffff;
    
  }
  

  .sidebar.active {
    /* Add your desired background color here */
    display: block;
    background-color: #AE5661; /* Add your desired background color here */
    width: 200px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 65%;
    animation: fadeInLeft 1s ease;
  }
  .sidebar ul {
    list-style: none; /* Remove list styles */
    padding: 0; /* Remove default padding */
  }

  .sidebar ul li {
    margin-bottom: 10px; /* Adjust margin between list items */
  }
    .sidebar ul li.exit {
      margin-left: 80%;
      animation: fadeOutRight 1s ease;
  }
  .sidebar .search-bar {
    display: flex; /* Ensure the search bar is a flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 10%;
}

.sidebar .search-bar input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.sidebar .search-bar button {
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
  

  .sidebar ul li a {
    color: #ffffff; /* Adjust link color */
    text-decoration: none; /* Remove underline */
    display: block; /* Display links as block elements */
    padding: 8px 10px; /* Add padding to links */
    border-radius: 5px; /* Add border radius to links */
    transition: background-color 0.3s ease; /* Add transition effect */
    text-align: center;
    margin-bottom: 10%;
    font-size: 40px;
  }
  .sidebar ul li a:hover {
    background-color: #9b2323;
  }
  @keyframes fadeOutLeft {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  
  @keyframes fadeOutRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
}





















/** footer footer footer **/

.footercontainer{
  height: 30vh;
  width: auto;
  background-color: #AE5661;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#footerlogo {
  height: 130px;
  width: 300px;
}

.footcont1 {
  width: auto;
}

.footcont2 {
  width: auto;
}

.footcont3 {
  width: 100%;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icons img {
  width: 30px; 
  margin: 0 10px; 
}
.footcont2 {
  display: flex;
  flex-direction: column;
}






/** about container **/ 


