
.navbar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 10vh;
}

.logo img {
  height: 100px;
  display: flex;
  align-items: flex-end;
}

.navmenu {
  margin-right: auto; 
}

.navmenu ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  
}

.navmenu ul li {
  margin-right: 20px;
  font-size: 22px;
}

.navmenu ul li a {
  text-decoration: none;
  color: #000000;
}

.container {
  padding: 20px;
  margin-top: 20px;
  margin-left: 10%;
  margin-top: 5%;
}

.homebox {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column; /* Ensure that the elements stack vertically */
  justify-content: space-between; /* Push the button to the bottom */
  align-items: flex-end; /* Align button to the left */

}
.homebox p {
  margin-bottom: 5px;
  line-height: 1.5;
  font-size: 40px;
  text-align: center;
  margin-top: 10%; 
}
.hoverable-button {
  background-color: #b1b1b1; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.hoverable-button:hover {
  background-color: #53ce59; /* Darker Green */
}








/** about **/

.aboutcontainer{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin: 5% 5% 5% 5%;
}
.aboutmaincomp{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.leftcont{
  height: 90%;
  width: 50%;
  border: 2px solid aqua;
}
.leftcont p{
  text-align: center;
  justify-content: center;
  font-size: 20px; 
  font-weight: bold;

}
.rightcont{
  height: 90%;
  width: 50%;
  border: 2px solid aqua;
}
.rightcont .img{
  width: 700px;
  height: 600px;
  justify-content: center;
  align-items: center;
}
  
.abovecont .img2{
  height: 100%;
  width: 500px;
 
}




/** MAINPAGE **/



/** descriptipon**/
.mainp{
  display: flex;
  flex-direction: column; /* Display the elements in a column */
  align-items: center; /* Center the items horizontally */
}

.mainpagehead {
  width: 100%;
  height: 25%;
  max-height: 30vh; /* Ensure the height does not exceed 30vh */
}

.mainpagehead img {
  width: 100%;
  height: 100%; /* Make the image fill the entire height of its container */
  object-fit: cover; /* Ensure the image covers the entire container */

}
.secondhead{
  text-align: center;
}

.mainpagecont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin-top: 30%;
  height: auto;
 
}

.mainpagecont div {
  flex: 0 0 50%; 
  box-sizing: border-box;
  padding: 10px;
}

.mainpagecont img {
  width: 300px;
  height: 300px;
}



.topContainer{
  width: auto;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.topContainer .rightContain,.leftContain{
  width: 30%;
  height: 100%;
  margin: 0 10px;
}
.rightContain{
  border: 1px solid #c54646;
}
.leftContain{
  border: 1px solid #1a8fdd;
}

.recipeImage {
  width: 350px;
  height: 400px;
  display: block; 
  margin: auto; 
}

.recipe-name {
  font-size: 24px;
  color: #333;
}

.title{
  font-size: 20px;
}


.middleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add margin top to create space */
}

.middleContainer img {
  width: 40%; /* Ensure the image takes up the full width of its container */
  height: 15vh; /* Maintain aspect ratio */
}

.bottomContainer{
  height: auto; /* Adjust the height as needed */
  width: 70%;
  justify-content: center;
  align-items: center;
  border: 1px solid #1a8fdd;
  margin: 20px auto;
}

/* H3 styling */
.bottomContainer h3 {
  font-size: 30px;
  color: #333;
  /* Add any other styles you want */
}

/* H4 styling */
.bottomContainer h4 {
  font-size: 20px;
  color: #666;
  /* Add any other styles you want */
}

/* H5 styling */
.bottomContainer h5 {
  font-size: 18px;
  color: #999;
  /* Add any other styles you want */
}

/* Title styling */
.bottomContainer .title {
  font-size: 30px;
  font-weight: bold;
  color: #444;
  /* Add any other styles you want */
}
.bottomContainer ul, .ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* LI styling */
.bottomContainer ul li {
  margin-bottom: 5px;
  font-size: 18px;
  color: #000000;
  /* Add any other styles you want */
}
.bottomContainer ol li {
  margin-bottom: 5px;
  font-size: 20px;
  color: #000000;
  /* Add any other styles you want */
}



.bottomBorder{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}
.bottomBorder img {
  width: 50%; /* Ensure the image takes up the full width of its container */
  height: 20vh; /* Maintain aspect ratio */
}