
.topContainer{
  width: auto;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}
.topContainer .rightContain,.leftContain{
  width: 30%;
  height: 100%;
  margin: 0 10px;
}
.rightContain{
  border: 1px solid #c54646;
}
.leftContain{
  border: 1px solid #000102;
}

.recipeImage {
  width: 450px;
  height: 500px;
  display: block; 
  margin: auto; 
}

.recipe-name {
  font-size: 30px;
  color: #333;
}



.title{
  font-size: 20px;
}


.topBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.topBorder img {
  width: 80%; 
  height: auto; 
}

.bottomContainer{
  height: auto; 
  width: 70%;
  justify-content: center;
  align-items: center;
  border: 1px solid #1a8fdd;
  margin: 20px auto;
}


.bottomContainer h3 {
  font-size: 30px;
  color: #333;
 
}


.bottomContainer h4 {
  font-size: 20px;
  color: #666;
}


.bottomContainer h5 {
  font-size: 18px;
  color: #999;
  
}


.bottomContainer .title {
  font-size: 30px;
  font-weight: bold;
  color: #444;

}
.bottomContainer ul, .ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.bottomContainer ul li {
  margin-bottom: 5px;
  font-size: 18px;
  color: #000000;

}
.bottomContainer ol li {
  margin-bottom: 5px;
  font-size: 20px;
  color: #000000;
 
}



.bottomBorder{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}
.bottomBorder img {
  width: 80%; /* Ensure the image takes up the full width of its container */
  height: auto; /* Maintain aspect ratio */
}


