
.navbar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 10vh;
}

.logo img {
  height: 100px;
  display: flex;
  align-items: flex-end;
}

.navmenu {
  margin-right: auto; 
}

.navmenu ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  
}

.navmenu ul li {
  margin-right: 20px;
  font-size: 22px;
}

.navmenu ul li a {
  text-decoration: none;
  color: #000000;
}

.container {
  padding: 20px;
  margin-top: 20px;
  margin-left: 10%;
  margin-top: 5%;
}

.homebox {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column; /* Ensure that the elements stack vertically */
  justify-content: space-between; /* Push the button to the bottom */
  align-items: flex-end; /* Align button to the left */

}
.homebox p {
  margin-bottom: 5px;
  line-height: 1.5;
  font-size: 40px;
  text-align: center;
  margin-top: 10%; 
}
.hoverable-button {
  background-color: #b1b1b1; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.hoverable-button:hover {
  background-color: #53ce59; /* Darker Green */
}



/** Main **/
.Main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: auto;
}

.headerpic{
  width: auto;
  height: 20%;
}

.cont1 {
  width: auto;
  height: 30%;
}

.cont2 {
  width: auto;
  height: 5%;
}

.cont2 p {
  text-align: center;
}

.cont3 {
  width: auto;
  height: 5%;
}

.cont3 img {
  width: auto;
}



/** about **/

.aboutcontainer{
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  margin: 5% 5% 5% 5%;
}
.leftcont{
  height: 90%;
  width: 50%;
  border: 2px solid aqua;
}
.leftcont p{
  text-align: center;
  justify-content: center;
  font-size: 20px; 
  font-weight: bold;

}
.rightcont{
  height: 90%;
  width: 50%;
  border: 2px solid aqua;
}
.rightcont .img{
  width: 700px;
  height: 600px;
  justify-content: center;
  align-items: center;
}
  

.abovecont{
  width: auto;
  height: 5%;
}
.abovecont .img2{
  width: 700px;
  height: 5%;
 
}