.tip {
    display: flex;
    flex-direction: row;

    & .left {
        text-align: center;
        justify-content: center;
    }

    & .right {
        justify-content: center;

        & img {
            width: 100px;
            height: 100px;
        }
    }
}